@import "tailwindcss";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* line-height: 1.5; */
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

:root {
  --page-header-height: 6rem;
}

:root {
  font-size: 100%;
  /* line-height: 1.5; */
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--font-lato), sans-serif;
  /*  background: var(--background);
  color: var(--foreground); */
  /* font-size: 16px; */
}

.nav {
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair), serif;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
/*
a {
  color: #fff;
}
*/
